<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.ttms.product.dao.ProjectDao">
<!-- 定义一个查询语句获取所有项目信息 -->
    <select id="findObjects" 
            resultType="cn.tedu.ttms.project.Project">
            
            select * 
            from tms_projects
            
            </select>
            
            <sql id="whereQuery">
                 <where>
                   <if test="name!=null and name!=''">name like concat("%",#{name},"%")</if>
                   <if test="valid!=null"> and valid=#{valid}</if>
                 </where>
            </sql>
            
            
            
     <select id="findPageObjects" 
            resultType="cn.tedu.ttms.project.Project">
            
            select * 
            from tms_projects
            <include refid="whereQuery"/>
            order by createdTime desc
            limit #{startIndex},#{pageSize}
            </select>
            
            
       <select id="getRowCount" 
            resultType="int">
            
            select count(*)
            from tms_projects
            <include refid="whereQuery"/>
            
            </select>
          
          
          <!-- 禁用和启用
               valid 表示状态值
               ids表示对应dao层方法中的数组参数
           -->  
        <update id="validById">
        update tms_projects
        set valid=#{valid}
        where id in  <!-- 通过动态sql拼接（1,2,3,4）这样格式的数据 -->
        <foreach collection="ids"
                 open="(" 
                 close=")"
                 item="item"
                 separator=",">
                 #{item}<!-- ids数组中的一个元素 -->
        </foreach>
        
        </update>
        <insert id="insertObject" parameterType="cn.tedu.ttms.project.Project">
        	insert into tms_projects (code,name,beginDate,endDate,valid
        	,note,createdUser,modifiedUser,createdTime,modifiedTime)
        	values(#{code},#{name},#{beginDate},#{endDate},#{valid}
        	,#{note},#{createdUser},#{modifiedUser},#{createdTime},#{modifiedTime})
        </insert>    

            
</mapper>